<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <aspNetCore processPath="dotnet" arguments=".\backendapp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <rewrite>
        <rules>
          <rule name="Redirect Root to User Folder" stopProcessing="true">
            <match url="^$" />
            <action type="Rewrite" url="/user/" />
          </rule>
        </rules>
      </rewrite>

    </system.webServer>
  </location>
</configuration>