USE [master]
GO
/****** Object:  Database [ExamBackendDb]    Script Date: 11/29/2025 1:15:35 AM ******/
CREATE DATABASE [ExamBackendDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamBackendDb', FILENAME = N'D:\ExamBackendDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamBackendDb_log', FILENAME = N'D:\ExamBackendDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamBackendDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamBackendDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Slug] [varchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreateData] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[Description] [nvarchar](1000) NULL,
	[Stock] [int] NULL,
	[CategoriesID] [int] NULL,
	[ImagePath] [varchar](254) NULL,
 CONSTRAINT [PK__Products__3214EC0740AE015C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [varchar](15) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__Users__3214EC07900DA41C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description]) VALUES (1, N'Mainboard', N'mainboard', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description]) VALUES (2, N'CPU', N'cpu', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description]) VALUES (3, N'VGA', N'vga', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Email], [Phone], [Address]) VALUES (1, N'Cường', N'cainnguyen@gmail.com', N'0923409668', N'49/4a, Kp4 Thống Nhất Biên Hoà')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [Stock], [CategoriesID], [ImagePath]) VALUES (1, N'ASUS PRIME B760M‑A D4', CAST(2490000 AS Decimal(18, 0)), NULL, 100, 1, N'https://th.bing.com/th/id/R.9b3c2adf53e9f0bfb3c51dd1561ea7c8?rik=3in63GCm4%2fVqiQ&pid=ImgRaw&r=0')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [Stock], [CategoriesID], [ImagePath]) VALUES (2, N'ASUS PRIME B450M‑A II', CAST(1590000 AS Decimal(18, 0)), NULL, 100, 1, N'https://m.media-amazon.com/images/I/81Ni+xrVXeL._AC_SL1500_.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [Stock], [CategoriesID], [ImagePath]) VALUES (3, N'ASUS TUF GAMING Z690‑PLUS WIFI', CAST(3100000 AS Decimal(18, 0)), NULL, 100, 1, N'https://dlcdnwebimgs.asus.com/gain/dad736f7-da46-47d1-b53f-322ff0d7ff11/')
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Email]) VALUES (1, N'admin', N'123', N'Admin', N'admin@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Email]) VALUES (2, N'user', N'123', N'USER', N'user@gmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Email]) VALUES (3, N'cuti', N'123', N'USER', N'cuti@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F62A27A81A]    Script Date: 11/29/2025 1:15:35 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__737584F6A0E9588D]    Script Date: 11/29/2025 1:15:35 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40A6FDB79]    Script Date: 11/29/2025 1:15:35 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__534D60F1] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__534D60F1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoriesID])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProduct]    Script Date: 11/29/2025 1:15:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateProduct]
    @Name NVARCHAR(255),
    @Price DECIMAL(18, 0),
    @Description NVARCHAR(MAX) = NULL, -- Cho phép NULL
    @Stock INT = 100,                  -- Mặc định là 100 nếu không truyền vào
    @CategoriesID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra xem Category có tồn tại không (để tránh lỗi khóa ngoại)
    IF NOT EXISTS (SELECT 1 FROM Categories WHERE Id = @CategoriesID)
    BEGIN
        PRINT N'Lỗi: CategoriesID ' + CAST(@CategoriesID AS NVARCHAR(10)) + N' không tồn tại.';
        RETURN; -- Dừng thực thi
    END

    -- 2. Kiểm tra xem tên sản phẩm đã có chưa
    IF EXISTS (SELECT 1 FROM Products WHERE Name = @Name)
    BEGIN
        PRINT N'Thông báo: Sản phẩm "' + @Name + N'" đã tồn tại. Bỏ qua.';
        RETURN; -- Dừng thực thi, không insert
    END

    -- 3. Thực hiện Insert
    INSERT INTO Products (Name, Price, Description, Stock, CategoriesID)
    VALUES (@Name, @Price, @Description, @Stock, @CategoriesID);

    -- Trả về ID của sản phẩm vừa tạo (rất hữu ích khi code Backend cần ID ngay sau khi tạo)
    SELECT SCOPE_IDENTITY() AS NewProductID;
END
GO
USE [master]
GO
