body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

.login-container h2 {
  margin-bottom: 24px;
  color: #333;
}

input,
textarea {
  padding: 12px 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #71b7e6;
  box-shadow: 0 0 5px rgba(113, 183, 230, 0.5);
}

button {
  padding: 12px 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #8e44ad;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9b59b6;
}

.alert {
  color: red;
  margin-top: 15px;
  min-height: 20px; /* Giữ không gian cho thông báo lỗi */
  font-weight: bold;
}
